.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
.movies{
    margin: 10px 20px ;
    background-color: gray;
    border-radius: 15px;
    padding: 10px;
    color: #fff;
}
.item{
    border-radius: 13px;
}

.card-info{
    margin-top: 15px;
}
  